:root{
    --blue : #6f62ed;
    --purple : #cc71ee;
    --white : white;
}
#mainRow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calRow{
background-color: black;
height: auto;
padding: 10px;
}
#calCol1{
    background-color: rgb(105, 105, 104);
    height: 100px;
}
#calCol2{
background-color: blue;
height: 300px;
}